DISCORD_TOKEN=your_bot_token_here
GUILD_ID=123456789012345678
STAFF_ROLE_ID=123456789012345678
TICKETS_CATEGORY_ID=123456789012345678
TICKET_CHANNEL_PREFIX=sell
COMMAND_NAME=sell-resources
COMMAND_DESCRIPTION=Создать заявку на продажу ресурсов
CURRENCY_NAME=₽
MAX_ACTIVE_TICKETS_PER_USER=1
SYNC_COMMANDS_ON_START=true
